@import "normalize";
@import "reset";
@import "mixins";
@import "variables";
@import "typography";

* {
  font-family: "Poppins", sans-serif;
  color: $text-color;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100%;
}
