@import "@/components/RoadSignCard/road-sign-card.module";

.card {
  &__image {
    width: 40px;
  }
  &__wrapper {
    padding-right: 10px;
  }
  &__icon {
    @include icon-mask("chevron", 5px, 10px, #262F56);
    &-wrapper {
      width: 45px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
